# 1. Ép cài đặt chính xác các công cụ này, bỏ qua tự động nhận diện
[phases.setup]
nixPkgs = ["nodejs", "go", "hugo", "git"]

# 2. Định nghĩa lại lệnh build
[phases.build]
cmds = ["npm install && npm run build"]

# 3. Biến môi trường
[variables]
HUGO_ENVIRONMENT = "production"