name: Deploy to Neocities

# Chỉ chạy khi push vào nhánh main
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    # Cài đặt Hugo (giống bên GitHub Pages)
    - name: Install Hugo
      run: |
        wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v0.151.0/hugo_extended_0.151.0_linux-amd64.deb \
        && sudo dpkg -i ${{ runner.temp }}/hugo.deb

    # Cài đặt Node/NPM
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Setup Project (nếu cần)
      run: npm run project-setup

    # Build website
    # QUAN TRỌNG: Ta ép baseURL về đúng link Neocities tại đây
    - name: Build Hugo
      run: hugo --minify --baseURL "https://bl1d.neocities.org/"

    # Deploy lên Neocities
    - name: Deploy to Neocities
      uses: bcomnes/deploy-to-neocities@v1
      with:
        api_token: ${{ secrets.NEOCITIES_API_TOKEN }}
        cleanup: false # Set true nếu bạn muốn xóa các file trên Neocities không có trong bản build mới
        dist_dir: public